################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SmartPlants/.vs/SmartPlants/DesignTimeBuild
/SmartPlants/.vs/SmartPlants/v16
/SmartPlants/SmartPlantsMvc/bin/Debug/netcoreapp2.2
/SmartPlants/SmartPlantsMvc/obj/Debug/netcoreapp2.2
/SmartPlants/SmartPlantsMvc/obj
/SmartPlants/SmartPlantsMvc/wwwroot/lib/bootstrap
/SmartPlants/SmartPlantsMvc/wwwroot/lib/jquery
/SmartPlants/SmartPlantsMvc/wwwroot/lib/jquery-validation
/SmartPlants/SmartPlantsMvc/wwwroot/lib/jquery-validation-unobtrusive
