################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SmartPlants/.vs/SmartPlants/DesignTimeBuild
/SmartPlants/.vs/SmartPlants/v16
/SmartPlants/SmartPlantsMvc/bin/Debug/netcoreapp2.2
/SmartPlants/SmartPlantsMvc/obj/Debug/netcoreapp2.2
/SmartPlants/SmartPlantsMvc/obj
/SmartPlants/SmartPlantsMvc/wwwroot/lib/bootstrap
/SmartPlants/SmartPlantsMvc/wwwroot/lib/jquery
/SmartPlants/SmartPlantsMvc/wwwroot/lib/jquery-validation
/SmartPlants/SmartPlantsMvc/wwwroot/lib/jquery-validation-unobtrusive
/CoreTutorials/.vs/CoreTutorials/v16
/CoreTutorials/TodoApi/bin/Debug/netcoreapp3.0
/CoreTutorials/TodoApi/obj
/CoreTutorials/.vs
/CoreTutorials/TodoApi/TodoApi.csproj.user
/CoreTutorials/TodoApi/appsettings.Development.json
/CoreTutorials/AngularSPA/.vscode
/CoreTutorials/SignalRChat/bin
/CoreTutorials/SignalRChat/obj
/CoreTutorials/SignalRChat/wwwroot/lib
/SmartPlants/SmartPlants.Models/bin/Debug
/SmartPlants/SmartPlants.Models/obj
/SmartPlants/SmartPlantsMvc/wwwroot/lib/signalr
